{"openapi":"3.1.0","info":{"title":"iFixit API","version":"2.0","description":"Our API provides programmatic access to iFixit, enabling anyone to write innovative\napplications and utilities on top of our rich repair database.\n\n**What can I do with the API?**\n\nAnything you want! The sky is the limit for awesome applications built using our database\nof repair guides. We can't wait to see what you come up with.\n\nOur API is provided under a non-commercial BY-NC-SA license. If you'd like to use it for\ncommercial purposes, reach out to our [API team](mailto:api@ifixit.com) for pricing.\nTraining Large Language Models on iFixit content is prohibited by our\n[Terms of Service](https://www.ifixit.com/Info/Terms_of_Use).\n\nThe API provides access to our repair guides (step-by-step guides and namespace pages),\ncategories, users, teams, and our reputation badges.\n\nIf you build on our API, we will support you by maintaining future compatibility. Make sure\nto version your API calls with `2.0`. When we introduce changes that may break existing apps,\nwe will increment the version number.\n\n## Using the API\n\n### Getting Started\n\nThe best way to get started is to just dive right in! You don't need an app ID for most\nrequests, so you can start writing your app right now. Here's an example API call:\n\n```\ncurl https://www.ifixit.com/api/2.0/guides/1220\n```\n\nIf you want to build an offline tool, an archived collection of oManual files is also available.\n\n### Authentication\n\nMost public endpoints do not require authentication. A few endpoints require an App ID,\nwhich you can request from our [API team](mailto:api@ifixit.com). This is usually only required for complex integrations.\n\nTo authenticate, first obtain a token with your email and password:\n\n```\ncurl -X POST https://www.ifixit.com/api/2.0/user/token \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"email\":\"you@example.com\",\"password\":\"yourpassword\"}'\n```\n\nThe response includes an `authToken` field. Use it in subsequent requests:\n\n```\ncurl https://www.ifixit.com/api/2.0/user \\\n  -H \"Authorization: api YOUR_AUTH_TOKEN\"\n```\n\nNote: the `Authorization` header uses the `api` scheme, not `Bearer`.\n\n### Response Format\n\nAll endpoints return JSON by default. Append `?pretty` to any request URL for\nhuman-readable formatted output. Some endpoints additionally support XML via the\n`Accept: application/xml` request header.\n\n### Error Responses\n\nErrors are returned as a JSON object with a consistent shape:\n\n```json\n{\n  \"error\": true,\n  \"message\": \"Human-readable description of the error\"\n}\n```\n\nCommon status codes:\n\n| Code | Meaning |\n|------|---------|\n| 400 | Bad request — invalid parameters |\n| 401 | Authentication required |\n| 403 | Forbidden — insufficient privileges |\n| 404 | Resource not found |\n| 429 | Rate limit exceeded |\n\n### Pagination\n\nList endpoints accept `offset` and `limit` query parameters. `limit` defaults to 20\nand has a maximum of 200. Responses are plain arrays — iterate by incrementing `offset`\nby `limit` until you receive fewer items than requested.\n\n```\nGET /api/2.0/guides?offset=0&limit=50\nGET /api/2.0/guides?offset=50&limit=50\n```\n\n### Rate Limiting\n\nAPI requests are rate limited. When limits are exceeded, the API returns a `429` status code.\n\n### Versioning\n\nThis is version 2.0 of the iFixit API. The version is included in the URL path: `/api/2.0/`.\n","contact":{"name":"iFixit Developer Support","url":"https://www.ifixit.com/api/2.0/doc"},"license":{"name":"Creative Commons BY-NC-SA 3.0","url":"https://creativecommons.org/licenses/by-nc-sa/3.0/"}},"servers":[{"url":"https://www.ifixit.com/api/2.0","description":"iFixit Production API"}],"security":[{"apiToken":[]},{"appId":[]},{}],"tags":[{"name":"Authentication","description":"User authentication and token management"},{"name":"Categories","description":"Browse the content hierarchy"},{"name":"Comments","description":"Comment operations on guides, steps, wikis, and other content"},{"name":"Guides","description":"Create, edit, delete and list guides and guide steps"},{"name":"Media","description":"Image and video information"},{"name":"Search","description":"Search and suggest functionality"},{"name":"Stories","description":"Repair stories about guides and products"},{"name":"Tags","description":"Tag management for guides and wikis"},{"name":"Teams","description":"Team management and membership"},{"name":"Users","description":"User profiles, badges, favorites, and media management"},{"name":"Wikis","description":"Create, edit, delete and list wiki pages"}],"paths":{"/user/token":{"post":{"operationId":"login","summary":"User login","description":"Creates an authorization token for an existing user account. A successful login creates a session and returns the user record with `authToken` set to the session id; the token is passed in the Authorization header on authenticated requests. A valid `X-App-Id` header is required; invalid credentials return 401. Active sessions per user are capped, so tokens issued by earlier logins can stop working after a new login.","tags":["Authentication"],"security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","format":"email"},"password":{"type":"string","format":"password"}}}}}},"responses":{"201":{"description":"Login successful","content":{"application/json":{"schema":{"type":"object","description":"Full user profile with authentication details. The `url` field inherited from UserSummary is not emitted by responses that use this schema. Viewer-only fields such as `links` and `unread_notification_count` are present only when the represented user is the authenticated viewer.","allOf":[{"type":"object","description":"Minimal user information embedded in other resources","properties":{"userid":{"type":"integer","description":"Unique user identifier","example":261784},"username":{"type":"string","description":"Display name","example":"John Doe"},"unique_username":{"type":["string","null"],"description":"Unique @-mentionable username","example":"johndoe"},"join_date":{"type":"integer","format":"int64","description":"Account creation date as a UNIX timestamp","example":1285253372},"image":{"oneOf":[{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},{"type":"null"}]},"reputation":{"type":"integer","description":"User's reputation score","example":139},"url":{"type":"string","format":"uri","description":"URL to user's profile page","example":"https://www.ifixit.com/User/261784/John+Doe"},"teams":{"type":"array","description":"`teamid` values of the teams the user belongs to","items":{"type":"integer"},"example":[276]},"privileges":{"type":"array","description":"List of user privileges","items":{"type":"string"},"example":["User"]}},"required":["userid","username"]},{"type":"object","properties":{"certification_count":{"type":"integer","description":"Number of certifications earned","example":0},"badge_counts":{"type":"object","description":"Count of badges by level","properties":{"bronze":{"type":"integer"},"silver":{"type":"integer"},"gold":{"type":"integer"},"total":{"type":"integer"}}},"summary":{"type":["string","null"],"description":"User's about text (plain text summary)","example":"I fix things!"},"about_raw":{"oneOf":[{"type":"string"},{"type":"boolean"}],"description":"User's about content in wiki markup; `false` when empty"},"about_rendered":{"oneOf":[{"type":"string"},{"type":"boolean"}],"description":"User's about content rendered as HTML; `false` when empty"},"partner":{"type":["object","null"],"description":"Partner organization information; may be `null`","additionalProperties":true},"greatest_privilege":{"type":"string","description":"Highest privilege level of the user (e.g. `User`, `Moderator`, `Admin`)"},"langid":{"type":"string","description":"User's preferred language code","example":"en"},"preferredStoreDomain":{"type":"string","description":"User's preferred store domain (e.g. `ifixit-us`)"},"preferredStoreLocale":{"type":"string","description":"User's preferred store locale (e.g. `en-us`)"},"authToken":{"type":"string","description":"Authentication token for API requests, sent as `Authorization: api AUTH_TOKEN`. Present in login, registration, and impersonation responses; absent from other user responses. The token is a server-side session id, invalidated by logout or session expiry.","example":"0123456789abcdef0123456789abcdef"},"links":{"type":"object","description":"Related links. Present only when the represented user is the authenticated viewer; `manage` is included only for viewers permitted to access the management interface.","properties":{"manage":{"type":"string","description":"URL to user management page"}},"additionalProperties":{"type":"string"}}}}]}}}},"401":{"description":"Invalid credentials","content":{"application/json":{"schema":{"type":"object","description":"Standard API error response","properties":{"error":{"type":"boolean","description":"Always `true` on error responses","const":true},"message":{"type":"string","description":"Human-readable error message"}},"required":["error","message"]}}}}}},"delete":{"operationId":"logout","summary":"User logout","description":"Logs out the authenticated user by deleting the authorization token.","tags":["Authentication"],"security":[{"apiToken":[]}],"responses":{"204":{"description":"Success with no content returned"},"401":{"description":"Unauthorized - Authentication required or token invalid","content":{"application/json":{"schema":{"type":"object","description":"Standard API error response","properties":{"error":{"type":"boolean","description":"Always `true` on error responses","const":true},"message":{"type":"string","description":"Human-readable error message"}},"required":["error","message"]},"example":{"error":true,"message":"Authentication required"}}}}}}},"/users/reset_password":{"post":{"operationId":"resetPassword","summary":"Request password reset","description":"Sends a password reset email to the given email address. A malformed email address or one with no associated account returns 422. Requests are rate limited per email address and per client IP; exceeding either limit returns 429.","tags":["Authentication"],"security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","format":"email"}}}}}},"responses":{"200":{"description":"Password reset email sent","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Success: You've been emailed a link to set a new password."}}}}}},"422":{"description":"Email is malformed or has no associated account","content":{"application/json":{"schema":{"type":"object","description":"Standard API error response","properties":{"error":{"type":"boolean","description":"Always `true` on error responses","const":true},"message":{"type":"string","description":"Human-readable error message"}},"required":["error","message"]},"example":{"message":"There is no account associated with the specified email"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"type":"object","description":"Standard API error response","properties":{"error":{"type":"boolean","description":"Always `true` on error responses","const":true},"message":{"type":"string","description":"Human-readable error message"}},"required":["error","message"]},"example":{"error":true,"message":"Rate limit exceeded. Please try again later."}}},"headers":{"Retry-After":{"schema":{"type":"integer"},"description":"Number of seconds to wait before retrying"}}}}}},"/user":{"get":{"operationId":"getCurrentUser","summary":"Get current user","description":"Returns the authenticated user's information, including a `links` object and viewer-only fields such as `unread_notification_count`. Unauthenticated requests return 401 unless a valid `sessionSyncId` query parameter is supplied, in which case the response is `{\"sessionSync\": true, \"image\": ...}` instead of a User object. `authToken` is only returned by the login and registration endpoints, not by this endpoint.","tags":["Users"],"security":[{"apiToken":[]}],"responses":{"200":{"description":"Current user info","content":{"application/json":{"schema":{"type":"object","description":"Full user profile with authentication details. The `url` field inherited from UserSummary is not emitted by responses that use this schema. Viewer-only fields such as `links` and `unread_notification_count` are present only when the represented user is the authenticated viewer.","allOf":[{"type":"object","description":"Minimal user information embedded in other resources","properties":{"userid":{"type":"integer","description":"Unique user identifier","example":261784},"username":{"type":"string","description":"Display name","example":"John Doe"},"unique_username":{"type":["string","null"],"description":"Unique @-mentionable username","example":"johndoe"},"join_date":{"type":"integer","format":"int64","description":"Account creation date as a UNIX timestamp","example":1285253372},"image":{"oneOf":[{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},{"type":"null"}]},"reputation":{"type":"integer","description":"User's reputation score","example":139},"url":{"type":"string","format":"uri","description":"URL to user's profile page","example":"https://www.ifixit.com/User/261784/John+Doe"},"teams":{"type":"array","description":"`teamid` values of the teams the user belongs to","items":{"type":"integer"},"example":[276]},"privileges":{"type":"array","description":"List of user privileges","items":{"type":"string"},"example":["User"]}},"required":["userid","username"]},{"type":"object","properties":{"certification_count":{"type":"integer","description":"Number of certifications earned","example":0},"badge_counts":{"type":"object","description":"Count of badges by level","properties":{"bronze":{"type":"integer"},"silver":{"type":"integer"},"gold":{"type":"integer"},"total":{"type":"integer"}}},"summary":{"type":["string","null"],"description":"User's about text (plain text summary)","example":"I fix things!"},"about_raw":{"oneOf":[{"type":"string"},{"type":"boolean"}],"description":"User's about content in wiki markup; `false` when empty"},"about_rendered":{"oneOf":[{"type":"string"},{"type":"boolean"}],"description":"User's about content rendered as HTML; `false` when empty"},"partner":{"type":["object","null"],"description":"Partner organization information; may be `null`","additionalProperties":true},"greatest_privilege":{"type":"string","description":"Highest privilege level of the user (e.g. `User`, `Moderator`, `Admin`)"},"langid":{"type":"string","description":"User's preferred language code","example":"en"},"preferredStoreDomain":{"type":"string","description":"User's preferred store domain (e.g. `ifixit-us`)"},"preferredStoreLocale":{"type":"string","description":"User's preferred store locale (e.g. `en-us`)"},"authToken":{"type":"string","description":"Authentication token for API requests, sent as `Authorization: api AUTH_TOKEN`. Present in login, registration, and impersonation responses; absent from other user responses. The token is a server-side session id, invalidated by logout or session expiry.","example":"0123456789abcdef0123456789abcdef"},"links":{"type":"object","description":"Related links. Present only when the represented user is the authenticated viewer; `manage` is included only for viewers permitted to access the management interface.","properties":{"manage":{"type":"string","description":"URL to user management page"}},"additionalProperties":{"type":"string"}}}}]}}}},"401":{"description":"Unauthorized - Authentication required or token invalid","content":{"application/json":{"schema":{"type":"object","description":"Standard API error response","properties":{"error":{"type":"boolean","description":"Always `true` on error responses","const":true},"message":{"type":"string","description":"Human-readable error message"}},"required":["error","message"]},"example":{"error":true,"message":"Authentication required"}}}}}}},"/users":{"get":{"operationId":"listUsers","summary":"List registered users","description":"Lists registered users sorted by `userid`; only active accounts are returned. `offset` is capped at 1000; larger values return 422. A `limit` above 200 is clamped to 200. `joinedSince` filters by the account's join date while results remain sorted by `userid`. Each item is a public profile summary; `privileges` is not included.","tags":["Users"],"security":[],"parameters":[{"name":"offset","in":"query","description":"Number of items to skip from the beginning. Defaults to 0.","schema":{"type":"integer","minimum":0,"default":0}},{"name":"limit","in":"query","description":"Maximum number of items to return. Range [1, 200]. Defaults to 20.","schema":{"type":"integer","minimum":1,"maximum":200,"default":20}},{"name":"order","in":"query","description":"Sort order (ascending or descending).","schema":{"type":"string","enum":["ASC","DESC"],"default":"ASC"}},{"name":"joinedSince","in":"query","description":"Earliest UNIX timestamp for users' join date","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"List of users","content":{"application/json":{"schema":{"type":"array","description":"List of user summaries","items":{"type":"object","description":"Minimal user information embedded in other resources","properties":{"userid":{"type":"integer","description":"Unique user identifier","example":261784},"username":{"type":"string","description":"Display name","example":"John Doe"},"unique_username":{"type":["string","null"],"description":"Unique @-mentionable username","example":"johndoe"},"join_date":{"type":"integer","format":"int64","description":"Account creation date as a UNIX timestamp","example":1285253372},"image":{"oneOf":[{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},{"type":"null"}]},"reputation":{"type":"integer","description":"User's reputation score","example":139},"url":{"type":"string","format":"uri","description":"URL to user's profile page","example":"https://www.ifixit.com/User/261784/John+Doe"},"teams":{"type":"array","description":"`teamid` values of the teams the user belongs to","items":{"type":"integer"},"example":[276]},"privileges":{"type":"array","description":"List of user privileges","items":{"type":"string"},"example":["User"]}},"required":["userid","username"]}}}}},"422":{"description":"offset exceeds the maximum of 1000","content":{"application/json":{"schema":{"type":"object","description":"Standard API error response","properties":{"error":{"type":"boolean","description":"Always `true` on error responses","const":true},"message":{"type":"string","description":"Human-readable error message"}},"required":["error","message"]},"example":{"message":"Offset must be <= 1000"}}}}}},"post":{"operationId":"registerUser","summary":"Register user","description":"Registers a new user account. The request must include a valid `X-App-Id` header. Registration failures — a malformed email, a password shorter than 10 characters, a duplicate email, or an invalid `unique_username` — return 401 with a message. An invalid `username` does not cause an error; the account is created with a username derived from the email address instead. Successful registration creates a logged-in session for the new user and the 201 response includes its `authToken`.","tags":["Users"],"security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","username","unique_username","password"],"properties":{"email":{"type":"string","format":"email","description":"User's email address (must be unique)"},"username":{"type":"string","description":"Display name"},"unique_username":{"type":"string","description":"Unique @-mentionable username"},"password":{"type":"string","format":"password"}}}}}},"responses":{"201":{"description":"User registered and logged in; the response includes `authToken`","content":{"application/json":{"schema":{"type":"object","description":"Full user profile with authentication details. The `url` field inherited from UserSummary is not emitted by responses that use this schema. Viewer-only fields such as `links` and `unread_notification_count` are present only when the represented user is the authenticated viewer.","allOf":[{"type":"object","description":"Minimal user information embedded in other resources","properties":{"userid":{"type":"integer","description":"Unique user identifier","example":261784},"username":{"type":"string","description":"Display name","example":"John Doe"},"unique_username":{"type":["string","null"],"description":"Unique @-mentionable username","example":"johndoe"},"join_date":{"type":"integer","format":"int64","description":"Account creation date as a UNIX timestamp","example":1285253372},"image":{"oneOf":[{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},{"type":"null"}]},"reputation":{"type":"integer","description":"User's reputation score","example":139},"url":{"type":"string","format":"uri","description":"URL to user's profile page","example":"https://www.ifixit.com/User/261784/John+Doe"},"teams":{"type":"array","description":"`teamid` values of the teams the user belongs to","items":{"type":"integer"},"example":[276]},"privileges":{"type":"array","description":"List of user privileges","items":{"type":"string"},"example":["User"]}},"required":["userid","username"]},{"type":"object","properties":{"certification_count":{"type":"integer","description":"Number of certifications earned","example":0},"badge_counts":{"type":"object","description":"Count of badges by level","properties":{"bronze":{"type":"integer"},"silver":{"type":"integer"},"gold":{"type":"integer"},"total":{"type":"integer"}}},"summary":{"type":["string","null"],"description":"User's about text (plain text summary)","example":"I fix things!"},"about_raw":{"oneOf":[{"type":"string"},{"type":"boolean"}],"description":"User's about content in wiki markup; `false` when empty"},"about_rendered":{"oneOf":[{"type":"string"},{"type":"boolean"}],"description":"User's about content rendered as HTML; `false` when empty"},"partner":{"type":["object","null"],"description":"Partner organization information; may be `null`","additionalProperties":true},"greatest_privilege":{"type":"string","description":"Highest privilege level of the user (e.g. `User`, `Moderator`, `Admin`)"},"langid":{"type":"string","description":"User's preferred language code","example":"en"},"preferredStoreDomain":{"type":"string","description":"User's preferred store domain (e.g. `ifixit-us`)"},"preferredStoreLocale":{"type":"string","description":"User's preferred store locale (e.g. `en-us`)"},"authToken":{"type":"string","description":"Authentication token for API requests, sent as `Authorization: api AUTH_TOKEN`. Present in login, registration, and impersonation responses; absent from other user responses. The token is a server-side session id, invalidated by logout or session expiry.","example":"0123456789abcdef0123456789abcdef"},"links":{"type":"object","description":"Related links. Present only when the represented user is the authenticated viewer; `manage` is included only for viewers permitted to access the management interface.","properties":{"manage":{"type":"string","description":"URL to user management page"}},"additionalProperties":{"type":"string"}}}}]}}}},"400":{"description":"Missing or invalid X-App-Id header","content":{"application/json":{"schema":{"type":"object","description":"Standard API error response","properties":{"error":{"type":"boolean","description":"Always `true` on error responses","const":true},"message":{"type":"string","description":"Human-readable error message"}},"required":["error","message"]},"example":{"message":"Invalid app id"}}}},"401":{"description":"Registration failed (malformed email, password too short, email already taken, or invalid `unique_username`)","content":{"application/json":{"schema":{"type":"object","description":"Standard API error response","properties":{"error":{"type":"boolean","description":"Always `true` on error responses","const":true},"message":{"type":"string","description":"Human-readable error message"}},"required":["error","message"]}}}},"422":{"description":"Missing required field or unrecognized field in request body","content":{"application/json":{"schema":{"type":"object","description":"Standard API error response","properties":{"error":{"type":"boolean","description":"Always `true` on error responses","const":true},"message":{"type":"string","description":"Human-readable error message"}},"required":["error","message"]}}}}}}},"/users/{userid}":{"get":{"operationId":"getUser","summary":"Get user details","description":"Returns a user's profile information. A nonexistent `userid` returns 404. When the requested `userid` is the authenticated caller, the response additionally includes the same viewer-only fields as `getCurrentUser`.","tags":["Users"],"security":[],"parameters":[{"name":"userid","in":"path","required":true,"description":"Unique identifier of the user.","schema":{"type":"integer"}}],"responses":{"200":{"description":"User details","content":{"application/json":{"schema":{"type":"object","description":"Public user profile information. The `url` field inherited from UserSummary is not emitted in this representation. When the request is authenticated as the user being returned, the response includes additional viewer-only fields such as `links` and `unread_notification_count`.","allOf":[{"type":"object","description":"Minimal user information embedded in other resources","properties":{"userid":{"type":"integer","description":"Unique user identifier","example":261784},"username":{"type":"string","description":"Display name","example":"John Doe"},"unique_username":{"type":["string","null"],"description":"Unique @-mentionable username","example":"johndoe"},"join_date":{"type":"integer","format":"int64","description":"Account creation date as a UNIX timestamp","example":1285253372},"image":{"oneOf":[{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},{"type":"null"}]},"reputation":{"type":"integer","description":"User's reputation score","example":139},"url":{"type":"string","format":"uri","description":"URL to user's profile page","example":"https://www.ifixit.com/User/261784/John+Doe"},"teams":{"type":"array","description":"`teamid` values of the teams the user belongs to","items":{"type":"integer"},"example":[276]},"privileges":{"type":"array","description":"List of user privileges","items":{"type":"string"},"example":["User"]}},"required":["userid","username"]},{"type":"object","properties":{"certification_count":{"type":"integer"},"badge_counts":{"type":"object","properties":{"bronze":{"type":"integer"},"silver":{"type":"integer"},"gold":{"type":"integer"},"total":{"type":"integer"}}},"summary":{"type":["string","null"],"description":"User's about text (plain text summary)"},"about_raw":{"oneOf":[{"type":"string"},{"type":"boolean"}],"description":"User's about content in wiki markup; `false` when empty"},"about_rendered":{"oneOf":[{"type":"string"},{"type":"boolean"}],"description":"User's about content rendered as HTML; `false` when empty"},"partner":{"type":["object","null"],"description":"Partner organization information; may be `null`","additionalProperties":true},"greatest_privilege":{"type":"string","description":"Highest privilege level of the user"},"langid":{"type":"string","description":"User's preferred language code"},"preferredStoreDomain":{"type":"string","description":"User's preferred store domain"},"preferredStoreLocale":{"type":"string","description":"User's preferred store locale"}}}]}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","description":"Standard API error response","properties":{"error":{"type":"boolean","description":"Always `true` on error responses","const":true},"message":{"type":"string","description":"Human-readable error message"}},"required":["error","message"]},"example":{"error":true,"message":"Guide not found"}}}}}}},"/users/{userid}/badges":{"get":{"operationId":"getUserBadges","summary":"Get user badges","description":"Lists all enabled badges with the specified user's earned status. Earned badges are ordered most recently earned first, followed by unearned badges in `badgeid` order. A nonexistent `userid` returns 404.","tags":["Users"],"security":[],"parameters":[{"name":"userid","in":"path","required":true,"description":"Unique identifier of the user.","schema":{"type":"integer"}},{"name":"category","in":"query","required":false,"schema":{"type":"string","enum":["badgeGuide","badgeAnswers","badgeGeneral","badgeWorkbench"]},"description":"Filter badges by category. Omit to return all badges."}],"responses":{"200":{"description":"List of all badges with earned status","content":{"application/json":{"schema":{"type":"array","description":"Array of UserBadge objects, each pairing a badge definition with the user's earned status.","items":{"type":"object","description":"A badge with the user's earned status","properties":{"earned":{"type":"boolean","description":"Whether the user has earned this badge"},"times_earned":{"type":"integer","description":"Number of times the user has earned this badge"},"date":{"type":["integer","null"],"format":"int64","description":"UNIX timestamp of the most recent time the badge was earned; `null` when the badge has not been earned."},"badge":{"type":"object","description":"Badge definition","properties":{"badgeid":{"type":"integer"},"name":{"type":"string"},"type":{"type":"string","enum":["bronze","silver","gold"]},"category":{"type":"string"},"description":{"type":"string"},"multiple":{"type":"boolean"},"num_users":{"type":"integer","description":"Total number of times this badge has been awarded across all users; for repeatable badges this can exceed the number of distinct users."},"icon":{"type":["string","null"],"description":"Font Awesome icon class for this badge"},"image":{"type":"string","description":"Badge image URL; an empty string when the badge has no image."},"secondary_color":{"type":"string","description":"Secondary color name for badge display (e.g. `camelot`, `steel-blue`)"}}}}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","description":"Standard API error response","properties":{"error":{"type":"boolean","description":"Always `true` on error responses","const":true},"message":{"type":"string","description":"Human-readable error message"}},"required":["error","message"]},"example":{"error":true,"message":"Guide not found"}}}}}}},"/user/badges":{"get":{"operationId":"getCurrentUserBadges","summary":"Get current user badges","description":"Lists all enabled badges with the authenticated user's earned status. Earned badges are ordered most recently earned first, followed by unearned badges in `badgeid` order.","tags":["Users"],"security":[{"apiToken":[]}],"parameters":[{"name":"category","in":"query","required":false,"schema":{"type":"string","enum":["badgeGuide","badgeAnswers","badgeGeneral","badgeWorkbench"]},"description":"Filter badges by category. Omit to return all badges."}],"responses":{"200":{"description":"List of all badges with earned status","content":{"application/json":{"schema":{"type":"array","description":"Array of UserBadge objects, each pairing a badge definition with the user's earned status.","items":{"type":"object","description":"A badge with the user's earned status","properties":{"earned":{"type":"boolean","description":"Whether the user has earned this badge"},"times_earned":{"type":"integer","description":"Number of times the user has earned this badge"},"date":{"type":["integer","null"],"format":"int64","description":"UNIX timestamp of the most recent time the badge was earned; `null` when the badge has not been earned."},"badge":{"type":"object","description":"Badge definition","properties":{"badgeid":{"type":"integer"},"name":{"type":"string"},"type":{"type":"string","enum":["bronze","silver","gold"]},"category":{"type":"string"},"description":{"type":"string"},"multiple":{"type":"boolean"},"num_users":{"type":"integer","description":"Total number of times this badge has been awarded across all users; for repeatable badges this can exceed the number of distinct users."},"icon":{"type":["string","null"],"description":"Font Awesome icon class for this badge"},"image":{"type":"string","description":"Badge image URL; an empty string when the badge has no image."},"secondary_color":{"type":"string","description":"Secondary color name for badge display (e.g. `camelot`, `steel-blue`)"}}}}}}}}}}}},"/users/{userid}/favorites/guides":{"get":{"operationId":"getUserFavoriteGuides","summary":"Get user's favorite guides","description":"Lists guides the user has favorited, ordered most recently favorited first. A nonexistent `userid` returns 404. Private and prerequisite-only guides are excluded, so the list can be shorter than the user's favorite count. Guide data is returned in the site's default language regardless of request locale, and favorited guides with no translation in that language are excluded.","tags":["Users"],"security":[],"parameters":[{"name":"userid","in":"path","required":true,"description":"Unique identifier of the user.","schema":{"type":"integer"}}],"responses":{"200":{"description":"List of favorited guides","content":{"application/json":{"schema":{"type":"array","description":"List of favorited guide entries","items":{"type":"object","description":"A favorited guide entry.","properties":{"date":{"type":"integer","format":"int64","description":"UNIX timestamp when the user favorited the guide"},"guide":{"type":"object","description":"Lightweight guide object for list views. Includes `time_required_max` but not `time_required` or `time_required_min`; those two fields appear only in full guide responses.","properties":{"dataType":{"type":"string","const":"guide"},"guideid":{"type":"integer","description":"Unique guide identifier"},"locale":{"type":"string","description":"Guide language"},"revisionid":{"type":"integer"},"modified_date":{"type":"integer","format":"int64"},"prereq_modified_date":{"type":"integer","format":"int64"},"url":{"type":"string","format":"uri"},"type":{"type":"string","description":"Type of guide","enum":["replacement","installation","repair","disassembly","teardown","technique","maintenance","how-to"]},"category":{"type":"string","description":"Category the guide belongs to"},"subject":{"type":"string","description":"Subject/component being worked on"},"title":{"type":"string","description":"Full guide title"},"summary":{"type":"string"},"difficulty":{"oneOf":[{"type":"string","description":"Estimated difficulty level. Write operations accept only the English values listed here; responses return a localized label.","enum":["Very easy","Easy","Moderate","Difficult","Very difficult"]},{"type":"null"}],"description":"Localized difficulty label; `null` when the guide has no difficulty set."},"time_required_max":{"type":"integer","description":"Maximum time in seconds"},"public":{"type":"boolean"},"userid":{"type":"integer"},"username":{"type":"string"},"flags":{"type":"array","items":{"type":"string"}},"image":{"oneOf":[{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},{"type":"null"}]}}}}}}}}}}}},"/user/favorites/guides":{"get":{"operationId":"getCurrentUserFavoriteGuides","summary":"Get current user's favorite guides","description":"Lists guides the authenticated user has favorited, ordered most recently favorited first. Private and prerequisite-only guides are included, unlike `getUserFavoriteGuides`. Guide data is returned in the site's default language regardless of request locale, and favorited guides with no translation in that language are excluded.","tags":["Users"],"security":[{"apiToken":[]}],"responses":{"200":{"description":"List of favorited guides","content":{"application/json":{"schema":{"type":"array","description":"List of favorited guide entries","items":{"type":"object","description":"A favorited guide entry.","properties":{"date":{"type":"integer","format":"int64","description":"UNIX timestamp when the user favorited the guide"},"guide":{"type":"object","description":"Lightweight guide object for list views. Includes `time_required_max` but not `time_required` or `time_required_min`; those two fields appear only in full guide responses.","properties":{"dataType":{"type":"string","const":"guide"},"guideid":{"type":"integer","description":"Unique guide identifier"},"locale":{"type":"string","description":"Guide language"},"revisionid":{"type":"integer"},"modified_date":{"type":"integer","format":"int64"},"prereq_modified_date":{"type":"integer","format":"int64"},"url":{"type":"string","format":"uri"},"type":{"type":"string","description":"Type of guide","enum":["replacement","installation","repair","disassembly","teardown","technique","maintenance","how-to"]},"category":{"type":"string","description":"Category the guide belongs to"},"subject":{"type":"string","description":"Subject/component being worked on"},"title":{"type":"string","description":"Full guide title"},"summary":{"type":"string"},"difficulty":{"oneOf":[{"type":"string","description":"Estimated difficulty level. Write operations accept only the English values listed here; responses return a localized label.","enum":["Very easy","Easy","Moderate","Difficult","Very difficult"]},{"type":"null"}],"description":"Localized difficulty label; `null` when the guide has no difficulty set."},"time_required_max":{"type":"integer","description":"Maximum time in seconds"},"public":{"type":"boolean"},"userid":{"type":"integer"},"username":{"type":"string"},"flags":{"type":"array","items":{"type":"string"}},"image":{"oneOf":[{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},{"type":"null"}]}}}}}}}}}}}},"/user/favorites/guides/{guideid}":{"put":{"operationId":"favoriteGuide","summary":"Favorite a guide","description":"Adds a guide to the authenticated user's favorites. The optional `langid` defaults to the guide's source language; the request returns 404 if the guide has no translation in the resolved language. A user favorites a guide at most once: repeated requests return 204 and leave the stored `langid` and favorite date unchanged.","tags":["Users"],"security":[{"apiToken":[]}],"parameters":[{"name":"guideid","in":"path","required":true,"description":"Unique identifier of the guide.","schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"langid":{"type":"string","description":"Language to record the favorite in. Defaults to the guide's source language. Must be a language the guide has a translation in; otherwise the request returns 404."}}}}}},"responses":{"204":{"description":"Success with no content returned"}}},"delete":{"operationId":"unfavoriteGuide","summary":"Unfavorite a guide","description":"Removes the guide from the authenticated user's favorites. The favorite is removed for every language of the guide. Returns 204 even if the guide was not favorited; returns 404 if the guide does not exist.","tags":["Users"],"security":[{"apiToken":[]}],"parameters":[{"name":"guideid","in":"path","required":true,"description":"Unique identifier of the guide.","schema":{"type":"integer"}}],"responses":{"204":{"description":"Success with no content returned"}}}},"/users/{userid}/guides":{"get":{"operationId":"getUserGuides","summary":"Get user's authored guides","description":"Lists guides the user has contributed to through accepted revisions or authorship. Returns one entry per guide language contributed to, so the same `guideid` can appear multiple times with different `locale` values, ordered by `guideid` (ties by `locale`). Visibility filtering happens after pagination, so a page can contain fewer than `limit` entries while later offsets still return results. Private and prerequisite-only guides are excluded for every viewer; `getCurrentUserGuides` includes them for the authenticated user.","tags":["Users"],"security":[],"parameters":[{"name":"userid","in":"path","required":true,"description":"Unique identifier of the user.","schema":{"type":"integer"}},{"name":"order","in":"query","description":"Sort order (ascending or descending).","schema":{"type":"string","enum":["ASC","DESC"],"default":"ASC"}},{"name":"offset","in":"query","description":"Number of items to skip from the beginning. Defaults to 0.","schema":{"type":"integer","minimum":0,"default":0}},{"name":"limit","in":"query","description":"Maximum number of items to return. Range [1, 200]. Defaults to 20.","schema":{"type":"integer","minimum":1,"maximum":200,"default":20}}],"responses":{"200":{"description":"List of authored guides","content":{"application/json":{"schema":{"type":"array","description":"List of guide summaries","items":{"type":"object","description":"Lightweight guide object for list views. Includes `time_required_max` but not `time_required` or `time_required_min`; those two fields appear only in full guide responses.","properties":{"dataType":{"type":"string","const":"guide"},"guideid":{"type":"integer","description":"Unique guide identifier"},"locale":{"type":"string","description":"Guide language"},"revisionid":{"type":"integer"},"modified_date":{"type":"integer","format":"int64"},"prereq_modified_date":{"type":"integer","format":"int64"},"url":{"type":"string","format":"uri"},"type":{"type":"string","description":"Type of guide","enum":["replacement","installation","repair","disassembly","teardown","technique","maintenance","how-to"]},"category":{"type":"string","description":"Category the guide belongs to"},"subject":{"type":"string","description":"Subject/component being worked on"},"title":{"type":"string","description":"Full guide title"},"summary":{"type":"string"},"difficulty":{"oneOf":[{"type":"string","description":"Estimated difficulty level. Write operations accept only the English values listed here; responses return a localized label.","enum":["Very easy","Easy","Moderate","Difficult","Very difficult"]},{"type":"null"}],"description":"Localized difficulty label; `null` when the guide has no difficulty set."},"time_required_max":{"type":"integer","description":"Maximum time in seconds"},"public":{"type":"boolean"},"userid":{"type":"integer"},"username":{"type":"string"},"flags":{"type":"array","items":{"type":"string"}},"image":{"oneOf":[{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},{"type":"null"}]}}}}}}}}}},"/user/guides":{"get":{"operationId":"getCurrentUserGuides","summary":"Get current user's guides","description":"Lists guides the authenticated user has contributed to through accepted revisions or authorship, including private and prerequisite-only guides. Returns one entry per guide language contributed to, so the same `guideid` can appear multiple times with different `locale` values. Results are ordered by `guideid` (ties by `locale`), not by recency. Filtering happens after pagination, so a page can contain fewer than `limit` entries while later offsets still return results.","tags":["Users"],"security":[{"apiToken":[]}],"parameters":[{"name":"order","in":"query","description":"Sort order (ascending or descending).","schema":{"type":"string","enum":["ASC","DESC"],"default":"ASC"}},{"name":"offset","in":"query","description":"Number of items to skip from the beginning. Defaults to 0.","schema":{"type":"integer","minimum":0,"default":0}},{"name":"limit","in":"query","description":"Maximum number of items to return. Range [1, 200]. Defaults to 20.","schema":{"type":"integer","minimum":1,"maximum":200,"default":20}}],"responses":{"200":{"description":"List of authored guides","content":{"application/json":{"schema":{"type":"array","description":"List of guide summaries","items":{"type":"object","description":"Lightweight guide object for list views. Includes `time_required_max` but not `time_required` or `time_required_min`; those two fields appear only in full guide responses.","properties":{"dataType":{"type":"string","const":"guide"},"guideid":{"type":"integer","description":"Unique guide identifier"},"locale":{"type":"string","description":"Guide language"},"revisionid":{"type":"integer"},"modified_date":{"type":"integer","format":"int64"},"prereq_modified_date":{"type":"integer","format":"int64"},"url":{"type":"string","format":"uri"},"type":{"type":"string","description":"Type of guide","enum":["replacement","installation","repair","disassembly","teardown","technique","maintenance","how-to"]},"category":{"type":"string","description":"Category the guide belongs to"},"subject":{"type":"string","description":"Subject/component being worked on"},"title":{"type":"string","description":"Full guide title"},"summary":{"type":"string"},"difficulty":{"oneOf":[{"type":"string","description":"Estimated difficulty level. Write operations accept only the English values listed here; responses return a localized label.","enum":["Very easy","Easy","Moderate","Difficult","Very difficult"]},{"type":"null"}],"description":"Localized difficulty label; `null` when the guide has no difficulty set."},"time_required_max":{"type":"integer","description":"Maximum time in seconds"},"public":{"type":"boolean"},"userid":{"type":"integer"},"username":{"type":"string"},"flags":{"type":"array","items":{"type":"string"}},"image":{"oneOf":[{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},{"type":"null"}]}}}}}}}}}},"/users/{userid}/completions":{"get":{"operationId":"getUserCompletions","summary":"Get user's completed guides","description":"Lists guides the user has completed. The response is a flat array of guide summaries ordered by `guideid` ascending; completion dates are not returned. A nonexistent `userid` returns 404. `offset` and `limit` are applied before visibility filtering, so a page may contain fewer than `limit` items while higher offsets still return results. Private and prerequisite-only completions are excluded for every viewer, including the profile owner; `getCurrentUserCompletions` includes them for the authenticated user.","tags":["Users"],"security":[],"parameters":[{"name":"userid","in":"path","required":true,"description":"Unique identifier of the user.","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of items to skip from the beginning. Defaults to 0.","schema":{"type":"integer","minimum":0,"default":0}},{"name":"limit","in":"query","description":"Maximum number of items to return. Range [1, 200]. Defaults to 20.","schema":{"type":"integer","minimum":1,"maximum":200,"default":20}}],"responses":{"200":{"description":"List of completed guides","content":{"application/json":{"schema":{"type":"array","description":"List of guide summaries","items":{"type":"object","description":"Lightweight guide object for list views. Includes `time_required_max` but not `time_required` or `time_required_min`; those two fields appear only in full guide responses.","properties":{"dataType":{"type":"string","const":"guide"},"guideid":{"type":"integer","description":"Unique guide identifier"},"locale":{"type":"string","description":"Guide language"},"revisionid":{"type":"integer"},"modified_date":{"type":"integer","format":"int64"},"prereq_modified_date":{"type":"integer","format":"int64"},"url":{"type":"string","format":"uri"},"type":{"type":"string","description":"Type of guide","enum":["replacement","installation","repair","disassembly","teardown","technique","maintenance","how-to"]},"category":{"type":"string","description":"Category the guide belongs to"},"subject":{"type":"string","description":"Subject/component being worked on"},"title":{"type":"string","description":"Full guide title"},"summary":{"type":"string"},"difficulty":{"oneOf":[{"type":"string","description":"Estimated difficulty level. Write operations accept only the English values listed here; responses return a localized label.","enum":["Very easy","Easy","Moderate","Difficult","Very difficult"]},{"type":"null"}],"description":"Localized difficulty label; `null` when the guide has no difficulty set."},"time_required_max":{"type":"integer","description":"Maximum time in seconds"},"public":{"type":"boolean"},"userid":{"type":"integer"},"username":{"type":"string"},"flags":{"type":"array","items":{"type":"string"}},"image":{"oneOf":[{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},{"type":"null"}]}}}}}}},"404":{"description":"User not found"}}}},"/user/completions":{"get":{"operationId":"getCurrentUserCompletions","summary":"Get current user's completed guides","description":"Lists guides the authenticated user has completed, including private and prerequisite-only guides. The response is a flat array of guide summaries ordered by `guideid` ascending; completion dates are not returned. `offset` and `limit` are applied before language filtering, so a page may contain fewer than `limit` items while higher offsets still return results.","tags":["Users"],"security":[{"apiToken":[]}],"parameters":[{"name":"offset","in":"query","description":"Number of items to skip from the beginning. Defaults to 0.","schema":{"type":"integer","minimum":0,"default":0}},{"name":"limit","in":"query","description":"Maximum number of items to return. Range [1, 200]. Defaults to 20.","schema":{"type":"integer","minimum":1,"maximum":200,"default":20}}],"responses":{"200":{"description":"List of completed guides","content":{"application/json":{"schema":{"type":"array","description":"List of guide summaries","items":{"type":"object","description":"Lightweight guide object for list views. Includes `time_required_max` but not `time_required` or `time_required_min`; those two fields appear only in full guide responses.","properties":{"dataType":{"type":"string","const":"guide"},"guideid":{"type":"integer","description":"Unique guide identifier"},"locale":{"type":"string","description":"Guide language"},"revisionid":{"type":"integer"},"modified_date":{"type":"integer","format":"int64"},"prereq_modified_date":{"type":"integer","format":"int64"},"url":{"type":"string","format":"uri"},"type":{"type":"string","description":"Type of guide","enum":["replacement","installation","repair","disassembly","teardown","technique","maintenance","how-to"]},"category":{"type":"string","description":"Category the guide belongs to"},"subject":{"type":"string","description":"Subject/component being worked on"},"title":{"type":"string","description":"Full guide title"},"summary":{"type":"string"},"difficulty":{"oneOf":[{"type":"string","description":"Estimated difficulty level. Write operations accept only the English values listed here; responses return a localized label.","enum":["Very easy","Easy","Moderate","Difficult","Very difficult"]},{"type":"null"}],"description":"Localized difficulty label; `null` when the guide has no difficulty set."},"time_required_max":{"type":"integer","description":"Maximum time in seconds"},"public":{"type":"boolean"},"userid":{"type":"integer"},"username":{"type":"string"},"flags":{"type":"array","items":{"type":"string"}},"image":{"oneOf":[{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},{"type":"null"}]}}}}}}}}}},"/user/flags":{"get":{"operationId":"getUserFlags","summary":"Get modifiable flags","description":"Lists the guide flags the authenticated user can add to or remove from guides. The response contains a single `guide` key holding an object keyed by `flagid`. Flags with a required privilege are included only when the authenticated user holds that privilege.","tags":["Users"],"security":[{"apiToken":[]}],"responses":{"200":{"description":"List of flags","content":{"application/json":{"schema":{"type":"object","properties":{"guide":{"type":"object","description":"Map of `flagid` to flag definition","additionalProperties":{"type":"object","properties":{"flagid":{"type":"string"},"title":{"type":"string"},"text":{"type":"string"},"image":{"type":"string","format":"uri"},"isFontAwesome":{"type":"boolean"}}}}}}}}}}}},"/user/media/images":{"get":{"operationId":"getUserImages","summary":"Get user's images","description":"Lists images in the authenticated user's media manager, including derivative images created by cropping or annotation; a derivative's `srcid` references its source image. `minWidth` and `minHeight` filter to images whose width and height are both at least the given values. Omitting `ratio` or passing `ratio=ALL` disables ratio filtering.","tags":["Users"],"security":[{"apiToken":[]}],"parameters":[{"name":"ratio","in":"query","schema":{"type":"string","enum":["ALL","ONE_ONE","FOUR_THREE","VARIABLE"],"default":"ALL"}},{"name":"minHeight","in":"query","schema":{"type":"integer"}},{"name":"minWidth","in":"query","schema":{"type":"integer"}},{"name":"offset","in":"query","description":"Number of items to skip from the beginning. Defaults to 0.","schema":{"type":"integer","minimum":0,"default":0}},{"name":"limit","in":"query","description":"Maximum number of items to return. Range [1, 200]. Defaults to 20.","schema":{"type":"integer","minimum":1,"maximum":200,"default":20}}],"responses":{"200":{"description":"List of images","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"An Image plus its dimensions, aspect ratio, markup, and EXIF metadata.","properties":{"image":{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},"srcid":{"type":["integer","null"],"description":"`id` of the source image when this image is a crop or derivative; `null` otherwise."},"width":{"type":"integer","description":"Image width in pixels","example":2420},"height":{"type":"integer","description":"Image height in pixels","example":1815},"ratio":{"type":"string","description":"Aspect ratio classification","enum":["ONE_ONE","FOUR_THREE","VARIABLE"],"example":"FOUR_THREE"},"markup":{"type":["string","null"],"description":"Image annotation markup; `null` when the image has none."},"exif":{"description":"EXIF metadata from the original image; an empty array when there is no EXIF data.","oneOf":[{"type":"object","additionalProperties":true},{"type":"array","maxItems":0}]}}}}}}}}},"post":{"operationId":"uploadImage","summary":"Upload an image","description":"Uploads an image to the authenticated user's media manager. The request body is the raw image file; the `file` query parameter supplies the filename, whose extension determines the file type (JPEG, GIF, PNG, BMP, TIFF, HEIC, WEBP, AVIF). The maximum file size is 80 MB and the minimum dimensions are 50x50 pixels. The response returns once the image is stored but before all resized variants have been generated. When `cropToRatio` is set, a cropped copy is created and replaces the original upload in the media manager.","tags":["Users"],"security":[{"apiToken":[]}],"parameters":[{"name":"file","in":"query","required":true,"description":"Filename of the image","schema":{"type":"string"}},{"name":"cropToRatio","in":"query","schema":{"type":"string","enum":["ONE_ONE","FOUR_THREE"]}}],"requestBody":{"required":true,"content":{"image/*":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"Image uploaded","content":{"application/json":{"schema":{"type":"object","description":"An Image plus its dimensions, aspect ratio, markup, and EXIF metadata.","properties":{"image":{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},"srcid":{"type":["integer","null"],"description":"`id` of the source image when this image is a crop or derivative; `null` otherwise."},"width":{"type":"integer","description":"Image width in pixels","example":2420},"height":{"type":"integer","description":"Image height in pixels","example":1815},"ratio":{"type":"string","description":"Aspect ratio classification","enum":["ONE_ONE","FOUR_THREE","VARIABLE"],"example":"FOUR_THREE"},"markup":{"type":["string","null"],"description":"Image annotation markup; `null` when the image has none."},"exif":{"description":"EXIF metadata from the original image; an empty array when there is no EXIF data.","oneOf":[{"type":"object","additionalProperties":true},{"type":"array","maxItems":0}]}}}}}}}}},"/user/media/images/{image}":{"delete":{"operationId":"deleteImages","summary":"Delete images","description":"Removes images from the authenticated user's media manager. Only the media-manager association is deleted; uses of the images in guides or wikis are unaffected. A maximum of 1000 ids is accepted per request. Ids that do not exist or belong to a different user are skipped; the response is 204 regardless of how many entries were removed.","tags":["Users"],"security":[{"apiToken":[]}],"parameters":[{"name":"image","in":"path","required":true,"description":"One or more comma-separated image ids to delete","schema":{"type":"string"}}],"responses":{"204":{"description":"Success with no content returned"}}},"post":{"operationId":"copyImageToMediaManager","summary":"Copy image to media manager","description":"Duplicates an existing image into the authenticated user's media manager. The `image` path segment accepts either an integer image id or a GUID string and resolves to any image, regardless of which user owns it. Returns 200 with the new image's full metadata, or 404 when no image matches.","tags":["Users"],"security":[{"apiToken":[]}],"parameters":[{"name":"image","in":"path","required":true,"description":"Image id or GUID to copy","schema":{"type":"string"}}],"responses":{"200":{"description":"Image copied","content":{"application/json":{"schema":{"type":"object","description":"An Image plus its dimensions, aspect ratio, markup, and EXIF metadata.","properties":{"image":{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},"srcid":{"type":["integer","null"],"description":"`id` of the source image when this image is a crop or derivative; `null` otherwise."},"width":{"type":"integer","description":"Image width in pixels","example":2420},"height":{"type":"integer","description":"Image height in pixels","example":1815},"ratio":{"type":"string","description":"Aspect ratio classification","enum":["ONE_ONE","FOUR_THREE","VARIABLE"],"example":"FOUR_THREE"},"markup":{"type":["string","null"],"description":"Image annotation markup; `null` when the image has none."},"exif":{"description":"EXIF metadata from the original image; an empty array when there is no EXIF data.","oneOf":[{"type":"object","additionalProperties":true},{"type":"array","maxItems":0}]}}}}}},"404":{"description":"No image matches the supplied id or GUID"}}}},"/user/media/images/{image}/rotate":{"post":{"operationId":"rotateImageInMediaManager","summary":"Rotate image in media manager","description":"Queues a job that creates a rotated copy of an existing image and swaps it into the authenticated user's media manager in place of the original (the original's library attachment is removed only when it belongs to the same user, and only after the copy is fully processed). The copy is a new source image, so later crops and markers apply to the rotated pixels. The `image` path segment accepts either an integer image id or a GUID string. The response is a job handle; clients poll `/user/media/images/rotate/{jobID}` until it reports `complete` or `failed`.","tags":["Users"],"security":[{"apiToken":[]}],"parameters":[{"name":"image","in":"path","required":true,"description":"Image id or GUID to rotate","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["degrees"],"properties":{"degrees":{"type":"integer","enum":[90,180,270],"description":"Clockwise rotation in degrees"},"jobID":{"type":"string","pattern":"^rotateImage_[A-Za-z0-9_-]{16,128}$","description":"Optional client-generated idempotency key. Retrying the same image, degrees, and jobID returns the original job without enqueueing a second rotation."}}}}}},"responses":{"202":{"description":"Rotation job queued","content":{"application/json":{"schema":{"type":"object","required":["jobID"],"properties":{"jobID":{"type":"string","description":"Handle for `/user/media/images/rotate/{jobID}` polling"}}}}}},"404":{"description":"No image matches the supplied id or GUID"},"409":{"description":"jobID was already used for a different rotation"},"422":{"description":"degrees or jobID is invalid"}}}},"/user/media/images/rotate/{jobID}":{"get":{"operationId":"getRotateImageStatus","summary":"Get rotate job status","description":"Reports the state of a rotation job queued by `rotateImageInMediaManager`. While the worker runs, `status` is `processing`. On success it is `complete` and `item` carries the new copy's flat media data; the worker generates display sizes before reporting success, so no further readiness polling is needed. `failed` means the original image and its library attachment are unchanged. Jobs are only visible to the user who queued them; unknown or another user's job ids return 404.","tags":["Users"],"security":[{"apiToken":[]}],"parameters":[{"name":"jobID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Job status","content":{"application/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["processing","complete","failed"]},"item":{"type":"object","description":"A single entry in a user's Media Manager library. The shape is flat and varies by media class (`type`): images carry `imageid`, documents carry `documentid`, and videos and embeds carry `objectid`. Size URL fields (`mini`, `thumbnail`, `standard`, `medium`, `original`) are present only for the sizes that have been generated at response time. When the request supplies an `accepts` filter collection, each item also carries a `filter_state`.","properties":{"type":{"type":"string","enum":["GuideImage","GuideVideoObject","GuideEmbedObject","Document"],"description":"Media class of the item"},"guid":{"type":"string"},"imageid":{"type":["integer","null"],"description":"Image id for images; thumbnail image id for documents and embeds; `null` when there is no associated image"},"objectid":{"type":"integer","description":"Present for videos and embeds"},"documentid":{"type":"integer","description":"Present for documents"},"srcid":{"type":["integer","null"],"description":"Source media id when this item is a derivative"},"ratio":{"type":"string","description":"Aspect-ratio name for images (e.g. `VARIABLE`)"},"mini":{"type":"string","format":"uri"},"thumbnail":{"type":"string","format":"uri"},"standard":{"type":"string","format":"uri"},"medium":{"type":"string","format":"uri"},"original":{"type":"string","format":"uri"},"width":{"type":"integer"},"height":{"type":"integer"},"filename":{"type":["string","null"],"description":"Original filename, or embed title for embeds"},"date":{"description":"Upload or creation time as a UNIX timestamp"},"filter_state":{"description":"Server-computed acceptability of a media item for the requested `accepts` filter collection. Clients branch on this value rather than re-deriving the rules: `true` when the item is attachable as-is, `\"crop\"` when it must be cropped before it can be attached, `false` when the item's type is not accepted, or an object carrying a `message` that explains a soft failure (for example, an image below the collection's minimum resolution).","oneOf":[{"type":"boolean","description":"`true` when attachable as-is; `false` when the type is not accepted"},{"type":"string","enum":["crop"],"description":"The item must be cropped before it can be attached"},{"type":"object","required":["message"],"properties":{"message":{"type":"string","description":"Human-readable reason the item cannot be attached"}}}]}}}}}}}},"404":{"description":"No rotation job matches the supplied id for this user"}}}},"/user/media/videos":{"get":{"operationId":"getUserVideos","summary":"Get user's videos","description":"Lists the videos in the authenticated user's media manager. The `order` parameter sorts by the internal video id rather than by upload date or filename.","tags":["Users"],"security":[{"apiToken":[]}],"parameters":[{"name":"offset","in":"query","description":"Number of items to skip from the beginning. Defaults to 0.","schema":{"type":"integer","minimum":0,"default":0}},{"name":"limit","in":"query","description":"Maximum number of items to return. Range [1, 200]. Defaults to 20.","schema":{"type":"integer","minimum":1,"maximum":200,"default":20}},{"name":"order","in":"query","description":"Sort order (ascending or descending).","schema":{"type":"string","enum":["ASC","DESC"],"default":"ASC"}}],"responses":{"200":{"description":"List of videos","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"Video information","properties":{"videoid":{"type":"integer","description":"Unique video identifier"},"objectid":{"type":"integer","description":"Internal object identifier"},"srcid":{"type":["integer","null"],"description":"`videoid` of the source video when this video is a derivative"},"filename":{"type":"string","description":"Original filename"},"duration":{"type":"integer","description":"Duration in milliseconds"},"width":{"type":"integer","description":"Video width in pixels"},"height":{"type":"integer","description":"Video height in pixels"},"image":{"type":["object","null"],"description":"Thumbnail image info (same structure as the /media/images response). `null` when the video has no thumbnail.","properties":{"image":{"type":"object","description":"Image object with size URLs","additionalProperties":true},"srcid":{"type":["integer","null"]},"width":{"type":"integer"},"height":{"type":"integer"},"ratio":{"type":"string","enum":["ONE_ONE","FOUR_THREE","VARIABLE"]},"markup":{"type":["string","null"]},"exif":{"description":"EXIF metadata; an empty array when there is none","oneOf":[{"type":"object","additionalProperties":true},{"type":"array","maxItems":0}]}}},"meta":{"type":["object","null"],"description":"Encoding metadata reported by the transcoder; `null` when no encoding metadata has been recorded for the video.","properties":{"video_codec":{"type":"string"},"audio_codec":{"type":"string"},"frame_rate":{"type":"number"},"width":{"type":"integer"},"height":{"type":"integer"},"duration_in_ms":{"type":"integer"},"file_size_in_bytes":{"type":"integer"},"video_bitrate_in_kbps":{"type":"integer"},"audio_bitrate_in_kbps":{"type":"integer"},"total_bitrate_in_kbps":{"type":"integer"},"audio_sample_rate":{"type":"integer"},"channels":{"type":"string"},"format":{"type":"string"},"state":{"type":"string","enum":["finished","processing","failed"]},"md5_checksum":{"type":["string","null"]},"id":{"type":"integer"}}},"encodings":{"type":"array","description":"Available encoded versions of the video; videos still transcoding return an empty array.","items":{"type":"object","properties":{"column":{"type":"string","description":"Internal encoding identifier (e.g. `MP4_720`)"},"label":{"type":"string","description":"Human-readable quality label (e.g. `480p`)"},"width":{"type":"integer"},"height":{"type":"integer"},"codecs":{"type":"string"},"mime":{"type":"string"},"format":{"type":"string"},"url":{"type":"string","format":"uri","description":"URL to the encoded video file"},"always_generate":{"type":"boolean"}}}}}}}}}}}}},"/guides":{"get":{"operationId":"listGuides","summary":"List all guides","description":"Returns guide summaries in the site's default language, sorted by `guideid`. When `guideids` is provided, only the first 50 ids are used and `filter`, `modifiedSince`, `order`, `offset`, and `limit` are ignored; ids that do not exist or are private (without `includePrivate`) are silently omitted.","tags":["Guides"],"security":[],"parameters":[{"name":"guideids","in":"query","description":"Comma-delimited list of `guideid`s to return. Only the first 50 ids are used; ids the viewer cannot see are omitted.","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Return only guides of the specified types (comma-delimited). Unrecognized types match no guides. Ignored when `guideids` is provided.","schema":{"type":"string","description":"Type of guide","enum":["replacement","installation","repair","disassembly","teardown","technique","maintenance","how-to"]}},{"name":"order","in":"query","description":"Sort order (ascending or descending).","schema":{"type":"string","enum":["ASC","DESC"],"default":"ASC"}},{"name":"offset","in":"query","description":"Number of items to skip from the beginning. Defaults to 0.","schema":{"type":"integer","minimum":0,"default":0}},{"name":"limit","in":"query","description":"Maximum number of items to return. Range [1, 200]. Defaults to 20.","schema":{"type":"integer","minimum":1,"maximum":200,"default":20}},{"name":"modifiedSince","in":"query","description":"Filter to only include items modified on or after this UNIX timestamp.","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"List of guides","content":{"application/json":{"schema":{"type":"array","description":"List of guide summaries.","items":{"type":"object","description":"Lightweight guide object for list views. Includes `time_required_max` but not `time_required` or `time_required_min`; those two fields appear only in full guide responses.","properties":{"dataType":{"type":"string","const":"guide"},"guideid":{"type":"integer","description":"Unique guide identifier"},"locale":{"type":"string","description":"Guide language"},"revisionid":{"type":"integer"},"modified_date":{"type":"integer","format":"int64"},"prereq_modified_date":{"type":"integer","format":"int64"},"url":{"type":"string","format":"uri"},"type":{"type":"string","description":"Type of guide","enum":["replacement","installation","repair","disassembly","teardown","technique","maintenance","how-to"]},"category":{"type":"string","description":"Category the guide belongs to"},"subject":{"type":"string","description":"Subject/component being worked on"},"title":{"type":"string","description":"Full guide title"},"summary":{"type":"string"},"difficulty":{"oneOf":[{"type":"string","description":"Estimated difficulty level. Write operations accept only the English values listed here; responses return a localized label.","enum":["Very easy","Easy","Moderate","Difficult","Very difficult"]},{"type":"null"}],"description":"Localized difficulty label; `null` when the guide has no difficulty set."},"time_required_max":{"type":"integer","description":"Maximum time in seconds"},"public":{"type":"boolean"},"userid":{"type":"integer"},"username":{"type":"string"},"flags":{"type":"array","items":{"type":"string"}},"image":{"oneOf":[{"type":"object","description":"Image object with URLs for pre-generated sizes, served from the iFixit CDN. Ungenerated sizes are omitted from the object; `id`, `guid`, and `original` are always present.","properties":{"id":{"type":"integer","example":73556},"guid":{"type":"string","description":"Globally unique identifier string for the image","example":"FucWIkw2ZEBiIJHk"},"mini":{"type":"string","format":"uri","description":"Very small thumbnail (56px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.mini"},"thumbnail":{"type":"string","format":"uri","description":"Small thumbnail (96px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.thumbnail"},"140x105":{"type":"string","format":"uri","description":"140x105 pixel size"},"200x150":{"type":"string","format":"uri","description":"200x150 pixel size"},"standard":{"type":"string","format":"uri","description":"Standard web display size (300px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.standard"},"440x330":{"type":"string","format":"uri","description":"440x330 pixel size"},"medium":{"type":"string","format":"uri","description":"Medium size (592px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.medium"},"large":{"type":"string","format":"uri","description":"Large size (800px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.large"},"huge":{"type":"string","format":"uri","description":"Very large size (1600px)","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.huge"},"original":{"type":"string","format":"uri","description":"Original full-resolution image","example":"https://guide-images.cdn.ifixit.com/igi/FucWIkw2ZEBiIJHk.full"}},"required":["id"]},{"type":"null"}]}}}}}}}}},"post":{"operationId":"createGuide","summary":"Create a new guide","description":"Creates a guide. The guide starts private unless `public: true` is submitted. When `title` is omitted, a default title is generated from `type`, `category`, and `subject`. Some guide types require a `subject`. Unrecognized body fields are rejected; validation failures return 422 with an `errors` array. Callers without the privilege to create guides receive 404.","tags":["Guides"],"security":[{"apiToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["category","type"],"properties":{"category":{"type":"string","description":"Category the guide belongs to (case sensitive)"},"type":{"type":"string","description":"Type of guide","enum":["replacement","installation","repair","disassembly","teardown","technique","maintenance","how-to"]},"subject":{"type":"string","description":"Subject/component the guide addresses. Required for guide types configured with a subject prompt."},"title":{"type":"string","description":"Custom guide title"},"introduction":{"type":"string","description":"Introduction text in wiki markup. Site-configured line and character limits apply (422 when exceeded)."},"conclusion":{"type":"string"},"difficulty":{"type":"string","description":"Estimated difficulty level. Write operations accept only the English values listed here; responses return a localized label.","enum":["Very easy","Easy","Moderate","Difficult","Very difficult"]},"time_required_min":{"type":"integer","description":"Minimum time in seconds"},"time_required_max":{"type":"integer","description":"Maximum time in seconds"},"image":{"type":"integer","description":"`imageid` of the guide's main image"},"flags":{"type":"array","items":{"type":"string"},"description":"Flag ids to apply, in display order. Only user-settable flag ids are accepted (422 otherwise)."},"prerequisites":{"type":"array","items":{"type":"integer"},"description":"`guideid`s of prerequisite guides"},"parts":{"type":"array","description":"Parts required for the guide. Each item's `name` is canonicalized to an Item wiki title. See GuideItemWrite.","items":{"type":"object","description":"A tool or part as accepted when writing a guide (`createGuide`, `updateGuide`). `name` is resolved to an Item wiki and stored as that Item's canonical title; when `name` matches no existing Item, a new Item wiki is created from `summary` and `url`. When `name` matches an existing Item, `summary` and `url` are ignored. The response reflects the resolved values.","required":["name"],"properties":{"name":{"type":"string","description":"Item name. Resolved to an Item wiki and stored as that wiki's canonical title."},"type":{"type":"string","description":"Variant/type."},"quantity":{"type":"integer","default":1,"description":"Number of this item needed."},"notes":{"type":"string","nullable":true,"description":"Usage notes specific to this guide."},"isoptional":{"type":"boolean","description":"Whether the item is optional for the guide."},"featured":{"type":"boolean","description":"Whether the item is featured on the guide."},"summary":{"type":"string","description":"Description for the Item wiki created when `name` matches no existing Item. Ignored when `name` matches an existing Item."},"url":{"type":"string","format":"uri","description":"Supplier link for the Item wiki created when `name` matches no existing Item. Ignored when `name` matches an existing Item."}}}},"tools":{"type":"array","description":"Tools required for the guide. Each item's `name` is canonicalized to an Item w
[...]
